@using System.Security.Claims
@model PMWA.WebUI.Models.Projects.ProjectEditViewModel

@{
    ViewData["Title"] = "Edit Your Project";
}

<nav class="mb-3" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="#!">Page 1</a></li>
        <li class="breadcrumb-item"><a href="#!">Page 2</a></li>
        <li class="breadcrumb-item active">Default</li>
    </ol>
</nav>
<h2 class="mb-4">Edit your project</h2>
<div class="row">
    <div class="col-xl-9">
        <form class="row g-3 mb-6" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm-6 col-md-8">
                <div class="form-floating">
                    <input asp-for="UpdateProjectDto.Title" class="form-control" id="floatingInputGrid" type="text" placeholder="Project title" />
                    <label for="floatingInputGrid">Project title</label><span class="text-danger">*</span>
                    <span asp-validation-for="UpdateProjectDto.Title" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelectTask">
                        <option selected="selected">Select task view</option>
                        <option value="1">technical</option>
                        <option value="2">external</option>
                        <option value="3">organizational</option>
                    </select>
                    <label for="floatingSelectTask">Defult task view</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelectPrivacy">
                        <option selected="selected">Select privacy</option>
                        <option value="1">Data Privacy One</option>
                        <option value="2">Data Privacy Two</option>
                        <option value="3">Data Privacy Three</option>
                    </select>
                    <label for="floatingSelectPrivacy">Project privacy</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelectTeam">
                        <option selected="selected">Select team</option>
                        <option value="1">Team One</option>
                        <option value="2">Team Two</option>
                        <option value="3">Team Three</option>
                    </select>
                    <label for="floatingSelectTeam">Team </label>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-floating">
                    <select asp-for="UpdateProjectDto.Status" class="form-select" id="floatingSelectStatus">
                        @foreach (var status in Enum.GetValues(typeof(PMWA.Domain.Enums.ProjectStatus)))
                        {
                            <option value="@((int)status)">@status</option>
                        }
                    </select>
                    <label for="floatingSelectStatus">Status </label><span class="text-danger">*</span>
                    <span asp-validation-for="UpdateProjectDto.Status" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelectAdmin">
                        <option selected="selected">Select admin</option>
                        <option value="1">Data Privacy One</option>
                        <option value="2">Data Privacy Two</option>
                        <option value="3">Data Privacy Three</option>
                    </select>
                    <label for="floatingSelectAdmin">Project Lead</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="flatpickr-input-container">
                    <div class="form-floating">
                        <input asp-for="UpdateProjectDto.Deadline" class="form-control datetimepicker" id="floatingInputDeadline" type="text" placeholder="deadline" data-options='{"disableMobile":true}' />
                        <label class="ps-6" for="floatingInputDeadline">Deadline</label><span class="uil uil-calendar-alt flatpickr-icon text-body-tertiary"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 gy-6">
                <div class="form-floating">
                    <textarea asp-for="UpdateProjectDto.Description" class="form-control" id="floatingProjectOverview" placeholder="Leave a comment here" style="height: 100px"></textarea>
                    <label for="floatingProjectOverview">project overview</label>
                </div>
            </div>
            <div class="col-md-6 gy-6">
                <div class="form-floating">
                    <select asp-for="UpdateProjectDto.OwnerId" class="form-select" id="floatingSelectClient">
                        <option value="@Guid.Parse(User.FindFirst(ClaimTypes.NameIdentifier)?.Value!)">@User.FindFirst(ClaimTypes.Email)?.Value</option>
                    </select>
                    <label for="floatingSelectClient">Owner</label>
                </div>
            </div>
            <div class="col-md-6 gy-md-6">
                <div class="form-floating">
                    <input asp-for="UpdateProjectDto.Budget" class="form-control" id="floatingInputBudget" type="text" placeholder="Budget" />
                    <label for="floatingInputBudget">Budget</label>
                </div>
            </div>
            <div class="col-12 gy-6">
                <div class="form-floating form-floating-advance-select">
                    <label>Add tags</label>
                    <select class="form-select" id="organizerMultiple" data-choices="data-choices" multiple="multiple" data-options='{"removeItemButton":true,"placeholder":true}'>
                        <option selected="selected">Stupidity</option>
                        <option>Jerry</option>
                        <option>Not_the_mouse</option>
                        <option>Rick</option>
                        <option>Biology</option>
                        <option>Neurology</option>
                        <option>Brainlessness</option>
                    </select>
                </div>
            </div>
            <div class="col-12 gy-6">
                <div class="row g-3 justify-content-end">
                    <div class="col-auto">
                        <button class="btn btn-phoenix-primary px-5">Cancel</button>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary px-5 px-sm-15">Create Project</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/flatpickr/flatpickr.min.js"></script>
    <script src="~/lib/choices.js/choices.min.js"></script>
}


